@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
.container{
  font-family: "Arimo-bold";
  border: 25px solid #3A4965;
}

.table {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  border-spacing: 0px;
}

tbody td:nth-child(n + 2) {
  position: relative;
}

tbody td:nth-child(n + 2):before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  box-shadow: -3px 0 3px lightgrey;
  display: block;
}

tbody td:nth-child(n + 2):before {
  left: 0;
}

.first_head {
  font-size: 18px;
  color: #484848;
  font-family: Arial, Helvetica, sans-serif;
}

.second_head {
  background-color: #89c331;
  color: white;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.third_head {
  background-color: #f04a56;
  color: white;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.fourth_head {
  background-color: #20807c;
  color: white;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.header_tr {
  text-align: center;
}

.first_head {
  color: #484848;
}

.first_head_pricing_plan {
  font-size: 37px;
  font-weight: 550;
}
.first_head_choose_your {
  font-size: 19px;
}

.zero_tr {
  text-align: center;
  height: 70px;
}



.second_raw {
  
  color: #484848;
  font-family: Arial, Helvetica, sans-serif;
  
}
.price_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.seventeen {
  font-size: 50px;
  line-height: 1;
}

.small_symb_wrap {
  font-size: 18px;
  line-height: 1;
  text-align: left;
}




.third_raw{
  
  color: #484848;
  font-family: Arial, Helvetica, sans-serif;
  
}

.fourth_raw{
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
}
.second_price_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.thirty_seven{
    font-size: 50px;
    line-height: 1;
}
.second_small_symb_wrap{
    font-size: 18px;
    line-height: 1;
    text-align: left;
}

.first_td {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
  color: #484848;
}



.first_tr {
  background-color: #f2f2f2;
  text-align: center;
  height: 70px;
}
.first-icon{
  padding-right: 10px;

  
}

.second_tr {
  background-color: #e3e3e3;
  text-align: center;
  height: 70px;
}
.second-icon{
  padding-right: 10px;
}

.third_tr {
  background-color: #f2f2f2;
  text-align: center;
  height: 70px;
}
.third-icon{
  padding-right: 10px;
}

.fourth_tr {
  background-color: #e3e3e3;
  text-align: center;
  height: 70px;
}
.fourth-icon{
  padding-right: 10px;
}

.fifth_tr {
  background-color: #f2f2f2;
  text-align: center;
  height: 70px;
}
.fifth-icon{
  padding-right: 10px;
}

.sixth_tr {
  background-color: #e3e3e3;
  text-align: center;
  height: 70px;
}
.sixth-icon{
  padding-right: 10px;
}

.buttons_tr {
  height: 70px;
  text-align: center;
}

.buttons_tr td:first-child {
  background-color: #dddddd;
}

.buttons_tr button {
  width: 190px;
  height: 47px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.grey_button {
  background-color: #484848;
}

.green_button {
  background-color: #89c331;
}

.red_button {
  background-color: #f04a56;
}

.blue_button {
  background-color: #20807c;
}
